{% extends 'base.html' %}

{% block title %}Create Note{% endblock %}

{% block content %}
    <h1>Create note:</h1>

    <form id="create-note" method="POST">
      {{ form.hidden_tag() }}

      {% for field in form
          if field.widget.input_type != 'hidden' %}

        <p>
          {{ field.label }}
          {{ field }}

          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </p>

      {% endfor %}

      <button type="submit">Create Note</button>
    </form>
{% endblock %}